#include? "LocalSecrets.xcconfig"

SPARKLE_APPCAST_URL = $(inherited)
SPARKLE_PUBLIC_ED_KEY = $(inherited)
PING_ISLAND_TELEMETRY_SLS_HOST = $(inherited)
PING_ISLAND_TELEMETRY_SLS_PROJECT = ping-island-global
PING_ISLAND_TELEMETRY_SLS_LOGSTORE = ping-island
PING_ISLAND_TELEMETRY_SLS_TOPIC = product-telemetry
PING_ISLAND_TELEMETRY_SLS_SOURCE = ping-island-macos
PING_ISLAND_TELEMETRY_DAILY_EVENT_LIMIT = 200
